<p>
    <span class="petName">{{this.pet_name}}</span>
    <button 
    data-id='{{this.id}}' 
    data-hungry="{{#if this.is_hungry}}0{{else}}1{{/if}}" 
    data-pet="{{#if this.is_cat}}1{{else}}0{{/if}}" 
    class="btn btn-primary is_hungry">
    {{#if this.is_hungry}} Feed {{else}} Play {{/if}}
    </button>
    <button data-id='{{this.id}}'
     data-toys="{{this.num_toys}}"
     data-pet="{{#if this.is_cat}}1{{else}}0{{/if}}"
     class="btn btn-primary add-toy">+ Toy</button>
    <button data-id='{{this.id}}'
     data-toys="{{this.num_toys}}"
     data-pet="{{#if this.is_cat}}1{{else}}0{{/if}}"
     class="btn btn-primary remove-toy">- Toy</button>
    <p>
    Toys: {{this.num_toys}} 🧸
    Hungry:  
    {{#if this.is_cat}}
    {{#if this.is_hungry}}Yes 🐟{{else}}No 🧶{{/if}} 
    {{else}}
    {{#if this.is_hungry}}Yes 🦴{{else}}No 🎾{{/if}}
    {{/if}}
    </p>
    <hr>
</p>