<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1 class="heading text-center">Pets Galore!</h1></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 cats block rounded">
        <h2><span class="title rounded">Cats 🐱</span></h2>
        {{#each animals}}
            {{#if is_cat}}
               {{> pets/pet-block }}
            {{/if}}
        {{/each}}
        </div>
        <div class="col-md-5 dogs block rounded">
        <h2><span class="title rounded">Dogs 🐶</span></h2>
        {{#each animals}}
            {{#unless is_cat}}
                {{> pets/pet-block }}
            {{/unless}}
        {{/each}}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 form rounded"> 
            <h2 class="text-center form-title">Add a pet!</h2>
            <form id="add-pet">
                <label for="pet_name">Name</label>
                <input type="text" id="pet_name" name="name" class="rounded">
                <div>
                    Are they hungry? Leave unchecked for satisfied pets.
                <label for="is_hungry">Yes</label>
                <input type="radio" id='is_hungry' name='hungry'>
                </div>
                
                <label for="toys">Toys</label>
                <select name="toys" id="toys" class="btn btn-primary">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="9">10</option>
                </select>
                <div>
                    Is your pet a cat? Leave unchecked for dogs. No other pets are supported at this time.
                    <label for="is_cat">Yes</label>
                    <input type="radio" id='is_cat' name="is_cat">
                </div>
                <button class="btn btn-primary" type="submit">Add Pet</button>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

