body {
    background-image: url(../img/swirl_pattern.png);
    box-shadow: inset 0 0 0 1000px rgba(49,193,160,.5);
}

.heading {
    font-family: 'Baloo Bhaijaan', cursive;
    margin: 1.5rem 0;
    font-size: 3rem;
    color: #155244;
}

.cats {
    box-shadow: inset 0 0 0 1000px rgba(167,162,17,.5);
}

.dogs {
    box-shadow: inset 0 0 0 1000px rgba(244,37,64,.5);
}

.title {
    font-size: 2rem;
    margin: .9rem;
    font-family: 'Baloo Bhaijaan', cursive;
    position: absolute;
    top: 0;
    left: 0;
}

.form-title {
    color: #155244;
    font-family: 'Baloo Bhaijaan', cursive;
}

.form {
    color: #155244;
    box-shadow: inset 0 0 0 1000px rgba(243,236,25,.5);
    margin-bottom: 3rem;
    padding: 1rem;
    margin: 0 .75rem 2rem .75rem;
    font-family: 'Roboto', sans-serif;
}

.block {
    color: #155244;
    margin: 2rem .75rem 2rem .75rem;
    font-size: 1.1rem;
    padding: 4rem 2rem 1.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.petName {
    font-weight: bolder;
}

.btn {
    background-color: rgba(49,193,160,.9);
    border-color: rgba(49,193,160,.9);
    color: #36454f;
    margin-right: .3rem;
}

.btn:hover {
    background-color: rgba(49,193,160,.9);
    border-color: #36454f;
    color: #36454f;
    transform: scale(1.075);
}